
.barfiller {
    width: 100%;
    height: 6px;
    background: #444;
    position: relative;
    margin-bottom: 20px;
}
.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background:#333;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    margin-top: -37px;
    padding: 2px 4px;
    font-size: 18px;
    color: #fff;
    position: absolute;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
}

.barfiller .tip::after {
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 100%;
    z-index: 9;
}